.o-footer {
    color: var(--app-primary-text-color);

    .logos {
        margin-bottom: 15px;

        .logo {
            width: 150px;
        }

        svg {
            margin: 0 5px;
        }
    }

    a {
        color: var(--app-primary-text-color);
        text-decoration: none;
        font-size: 1rem;
        font-weight: 800;
    }

    .copy {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 0.7rem;
    }
}