.MHeader {
    margin: 20px 0;

    .logo {
        width: 170px;
    }

    .user-metamask {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 120px;


        a {
            font-size: 0.9rem;
            font-weight: 800;
            text-decoration: none;
            margin-left: 10px;
        }
    }
}