.m-faq {
    .title {
        background-color: var(--app-primary-color);
        font-size: 1.3rem;
        font-weight: 800;
        padding: 20px 0 50px 0;
        border-radius: 25px 25px 0 0;
    }

    .content {
        background-color: var(--app-secondary-color);
        border-radius: 25px;
        margin-top: -30px;
        padding: 30px 0;
        font-size: 0.9rem;
        font-weight: 800;

        .accordion-button,
        .accordion-item {
            background-color: var(--app-secondary-color);
            color: var(--app-primary-text-color);
            border: 0;
        }

        .accordion-item {
            padding-left: 20px;
            padding-right: 20px;
        }

        .accordion-button:focus {
            outline: none;
            box-shadow: none;
        }

        .accordion-button:after {
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
        }

        h2 {
            margin: 0;
        }
    }
}